In [1]:
import pandas as pd 
import csv

In [4]:
pip install pyspark

Requirement already satisfied: pyspark in ./lib/python3.12/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in ./lib/python3.12/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pytest

Collecting pytest
  Downloading pytest-8.3.5-py3-none-any.whl.metadata (7.6 kB)
Collecting iniconfig (from pytest)
  Downloading iniconfig-2.1.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: packaging in ./lib/python3.12/site-packages (from pytest) (24.2)
Collecting pluggy<2,>=1.5 (from pytest)
  Downloading pluggy-1.5.0-py3-none-any.whl.metadata (4.8 kB)
Downloading pytest-8.3.5-py3-none-any.whl (343 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 343.6/343.6 kB 6.8 MB/s eta 0:00:00:00:01
Downloading pluggy-1.5.0-py3-none-any.whl (20 kB)
Downloading iniconfig-2.1.0-py3-none-any.whl (6.0 kB)
Installing collected packages: pluggy, iniconfig, pytest
Successfully installed iniconfig-2.1.0 pluggy-1.5.0 pytest-8.3.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import StructType, ArrayType
import pytest
# import mysql.connector

In [9]:
def create_session():
    spark = SparkSession.builder.appName("Venkata").config("spark.driver.extraClassPath","./mysql-connector-java-5.1.49.jar").getOrCreate()
    sqlcontext = SQLContext(spark)
    return spark, sqlcontext
spark, sqlcontext = create_session()
df = spark.read.csv('./testing_data.csv', header=True)
df.show()

+-----------------+--------------------+------------------+--------------+--------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------+-------------------+---------------+------------+
|        Full Name|      Street Address|              City|         State|Zip Code|             Country|        Phone Number|               Email|Date of Birth|          Occupation|        Company Name|        Job Position|         Website URL|     Company Address|Preferred Language| Profile Picture URL|Marital Status|Social Media Handle|Company Revenue|Last Updated|
+-----------------+--------------------+------------------+--------------+--------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------+-------------------+---------------+------------+
| Rachel Hernandez|338 Sanchez Cente...|        Duncanfort|      Virginia|   48198|             Vietnam|    647-890-6808x660|randybrown@exampl...|   1989-10-26|      Retail manager|        Bartlett Ltd|Community pharmacist|https://mccarthy....|Unit 0542 Box 985...|       Kalaallisut|https://placekitt...|      Divorced|             uhines|      705549851|  2025-02-01|
|     Kathy Malone|68581 Stewart Lan...|   East Nicoleport|   Connecticut|   81003|Holy See (Vatican...|  (772)858-8178x8009|marilynhorne@exam...|   1967-05-16|   Software engineer|         Shelton PLC|Holiday represent...|https://www.moral...|877 Deborah Knoll...|             Wolof|https://dummyimag...|      Divorced|  christopherlarson|      781633138|  2025-01-29|
|    Taylor Howell|736 Campbell Spri...|South Matthewville|     Tennessee|   41257|        Saint Helena|  635-408-9833x08209|brandon77@example...|   2003-06-14|Conservation offi...|    Mcmahon-Peterson|Research scientis...|http://delgado-me...|834 Joseph Knoll ...|            Korean|https://picsum.ph...|        Single|          michael80|      171641494|  2025-01-28|
|      George Mann|7451 Stanley Fiel...|        Port Casey|     Wisconsin|   04442|    Marshall Islands| +1-639-477-1414x359|  lblack@example.net|   1997-07-09|   Systems developer|        White-Bryant|Research officer,...|https://gonzales....|927 Elizabeth Ext...|            French|https://picsum.ph...|        Single|      trevorjohnson|      846353180|  2025-01-01|
|     Michael Page|047 Johnson Rue A...|        New Briana|    New Jersey|   47954|              Guyana|     +1-906-251-6197|shellyeverett@exa...|   1994-09-21|Journalist, magazine|          Lewis-Luna|   Medical secretary|http://www.dixon....|912 Jeffrey Row A...|              Pali|https://dummyimag...|      Divorced|      melendezedwin|      554805613|  2025-02-13|
| Melanie Anderson|USNS Barrera FPO ...|      New Adamport|      New York|   94991|        Burkina Faso|          5574052824|nelsonamanda@exam...|   1985-06-11|Multimedia specia...|Nguyen, Richmond ...|          Counsellor|http://www.sloan-...|6025 Kyle Fork Su...|               Lao|https://placekitt...|      Divorced|              sue46|      524249442|  2025-01-04|
|   Samuel Burgess|81001 Cassandra L...|      West Juanton|      Virginia|   33370|            Pakistan|       (738)420-8777|meganmurphy@examp...|   1944-08-28|Magazine features...|     Arias-Rodriguez|Agricultural cons...|http://www.arnold...|252 Perez Ports A...|           Kirghiz|https://dummyimag...|        Single|        juarezallen|      245337738|  2025-01-01|
|      Kelli Perry|1332 Poole Garden...|       Lake Steven|      Illinois|   40005|            Malaysia|+1-588-463-6172x3...| pmurray@example.com|   1997-03-30|   Food technologist|Montoya, Salazar ...|Water quality sci...|https://www.hoffm...|USS Jones FPO AP ...|         Abkhazian|https://picsum.ph...|        Single|       crosswhitney|      971804056|  2025-01-18|
|Tammy Camacho DVM|445 Tiffany Squar...|         Port Kyle|       Indiana|   65008|  Russian Federation|   (217)372-0094x764| megan94@example.org|   1981-06-26|Recruitment consu...|Garcia, Suarez an...|Electronics engineer|https://www.mccal...|PSC 2039, Box 881...|            Hebrew|https://picsum.ph...|       Married|             john72|      672100545|  2025-01-25|
|      Joel Fisher|0202 Gary Inlet A...|   West Oliviabury| West Virginia|   04924|               Samoa|     +1-840-295-5312| bobby78@example.com|   1971-11-23|Primary school te...|Moody, Hall and W...| Trade mark attorney|http://www.maldon...|730 Fowler Mounta...|          Croatian|https://dummyimag...|       Married|        murraysarah|      935467772|  2025-01-21|
|   Jennifer Davis|41492 Lucero Gard...|     Lake Danaside|  South Dakota|   38673|United States Vir...|001-963-248-3861x...|annebrown@example...|   1955-02-02|Telecommunication...|        Haynes-Smith|   Software engineer|http://www.coffey...|549 Perez Highway...|          Romanian|https://picsum.ph...|        Single|         perezmaria|      124290166|  2025-01-25|
|   Jason Robinson|337 Smith Forks T...|          Webbland|      Arkansas|   90312|           Nicaragua|     +1-773-585-9496|wsanders@example.net|   1995-03-19|   Scientist, marine|Walters, Zavala a...|  Production manager|http://www.murphy...|0034 Mullins Plai...|           Inupiaq|https://placekitt...|        Single|          georgelee|        7687041|  2025-01-28|
|       Sarah Khan|63539 Nicole Glen...|   New Danielburgh|     Minnesota|   14985|              Jersey|   782.961.1566x0965|  ohenry@example.org|   1983-11-12| Production engineer|            Kemp Ltd|Therapeutic radio...|  http://peters.org/|29306 Michelle Av...|             Tonga|https://picsum.ph...|        Single|             xparks|      347924816|  2025-02-08|
| Amanda Rodriguez|796 Lauren Knolls...|          Tateland|    New Mexico|   79689|Cocos (Keeling) I...|  567-778-1811x83333|barbaralee@exampl...|   1965-06-02| Early years teacher|Schwartz, Nelson ...|Tourist informati...|http://www.sharp....|50845 Miller Camp...|         Norwegian|https://dummyimag...|       Married|        stacyatkins|      703449093|  2025-01-22|
|  Michelle Joseph|23766 Brian Path ...|     Christianview|        Alaska|   27017|         Afghanistan|     +1-615-919-2833|stephen74@example...|   1945-10-16|Forensic psycholo...|           Smith Ltd| Information officer|http://www.brenna...|15933 Soto Trace ...|             Oromo|https://picsum.ph...|        Single|        wilsonderek|      421936296|  2025-02-01|
|       Tracy Kent|USNS Jennings FPO...|  East Donaldburgh|North Carolina|   68147|Palestinian Terri...|        348-218-9040|tracymorris@examp...|   1953-11-25|Chief Executive O...|     Gonzalez-Wilson| Art gallery manager|  https://jones.com/|501 Avila Branch ...|       Marshallese|https://placekitt...|        Single|            kevin93|      569018247|  2025-01-17|
|      Mark Carter|9315 Bates Canyon...|   Port Jennashire|        Nevada|   75023|Palestinian Terri...|001-308-253-9994x395|eduardo24@example...|   2004-03-22|Corporate investm...|          Kelley PLC|Local government ...|http://www.haynes...|USNV Gomez FPO AP...|         Sardinian|https://picsum.ph...|       Married|          heather03|      887848305|  2025-01-14|
|   Jimmy Thornton|2597 Christopher ...|         Jonesberg|        Kansas|   12896|           Guatemala|    001-379-435-8250|sandra79@example.com|   1994-05-15|Fitness centre ma...|        Scott-Palmer|Psychotherapist, ...|http://www.kane.com/|97433 Turner Cour...|             Maori|https://dummyimag...|       Married|           markboyd|      549604425|  2025-02-01|
|     Marie Harris|96531 Monica Stre...|       Johnsonberg|North Carolina|   55588|             Bolivia|          4864485085|rebecca14@example...|   1967-04-27|Health and safety...|Valdez, Smith and...|Research scientis...|http://cook-walla...|603 Valenzuela Po...|        Portuguese|https://picsum.ph...|        Single|         wilsoncody|      568380861|  2025-01-24|
|         Lee Hall|PSC 7696, Box 686...|     Lake Paulside|      Maryland|   10072|          Micronesia|  (396)849-1874x8960|hamiltonnichole@e...|   1970-06-08|              Dealer|Harmon, Williams ...|Trading standards...|https://www.shaff...|8974 Sheila Lodge...|          Kuanyama|https://picsum.ph...|       Married|        alyssaallen|      146726117|  2025-01-03|
+-----------------+--------------------+------------------+--------------+--------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------+-------------------+---------------+------------+
only showing top 20 rows

In [4]:
schema = df.schema
print(schema)
prefix = None
fields = []
datatype = []
for field in schema.fields:
    print(field)
    name = prefix + '.' + field.name if prefix else field.name
    dtype = field.dataType
    datatype.append(dtype)
    print(datatype)
    if isinstance (dtype, StructType):
        name = prefix + '.' + field.name if prefix else field.name
        print(name)
    else:
        fields.append(name)

    print(fields)

StructType([StructField('Full Name', StringType(), True), StructField('Street Address', StringType(), True), StructField('City', StringType(), True), StructField('State', StringType(), True), StructField('Zip Code', StringType(), True), StructField('Country', StringType(), True), StructField('Phone Number', StringType(), True), StructField('Email', StringType(), True), StructField('Date of Birth', StringType(), True), StructField('Occupation', StringType(), True), StructField('Company Name', StringType(), True), StructField('Job Position', StringType(), True), StructField('Website URL', StringType(), True), StructField('Company Address', StringType(), True), StructField('Preferred Language', StringType(), True), StructField('Profile Picture URL', StringType(), True), StructField('Marital Status', StringType(), True), StructField('Social Media Handle', StringType(), True), StructField('Company Revenue', StringType(), True), StructField('Last Updated', StringType(), True)])
StructField('Full Name', StringType(), True)
[StringType()]
['Full Name']
StructField('Street Address', StringType(), True)
[StringType(), StringType()]
['Full Name', 'Street Address']
StructField('City', StringType(), True)
[StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City']
StructField('State', StringType(), True)
[StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State']
StructField('Zip Code', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code']
StructField('Country', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country']
StructField('Phone Number', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number']
StructField('Email', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email']
StructField('Date of Birth', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth']
StructField('Occupation', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation']
StructField('Company Name', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name']
StructField('Job Position', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position']
StructField('Website URL', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL']
StructField('Company Address', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address']
StructField('Preferred Language', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language']
StructField('Profile Picture URL', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language', 'Profile Picture URL']
StructField('Marital Status', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language', 'Profile Picture URL', 'Marital Status']
StructField('Social Media Handle', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language', 'Profile Picture URL', 'Marital Status', 'Social Media Handle']
StructField('Company Revenue', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language', 'Profile Picture URL', 'Marital Status', 'Social Media Handle', 'Company Revenue']
StructField('Last Updated', StringType(), True)
[StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType(), StringType()]
['Full Name', 'Street Address', 'City', 'State', 'Zip Code', 'Country', 'Phone Number', 'Email', 'Date of Birth', 'Occupation', 'Company Name', 'Job Position', 'Website URL', 'Company Address', 'Preferred Language', 'Profile Picture URL', 'Marital Status', 'Social Media Handle', 'Company Revenue', 'Last Updated']

In [6]:
ddl = df._jdf.schema().toDDL().replace("'","").replace(",",",\n").replace(" ","_").replace("_STRING"," STRING")
generate_ddl_statement = f"CREATE TABLE ddl_statement (\n {ddl});"
print(generate_ddl_statement)

CREATE TABLE ddl_statement (
 `Full_Name` STRING,
`Street_Address` STRING,
City STRING,
State STRING,
`Zip_Code` STRING,
Country STRING,
`Phone_Number` STRING,
Email STRING,
`Date_of_Birth` STRING,
Occupation STRING,
`Company_Name` STRING,
`Job_Position` STRING,
`Website_URL` STRING,
`Company_Address` STRING,
`Preferred_Language` STRING,
`Profile_Picture_URL` STRING,
`Marital_Status` STRING,
`Social_Media_Handle` STRING,
`Company_Revenue` STRING,
`Last_Updated` STRING);

In [11]:
df.write.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/data_frame?useSSL=false&allowPublicKeyRetrieval=true") \
    .option("driver", "com.mysql.jdbc.Driver") \
    .option("dbtable", "venkat_copy") \
    .option("user", "venkata") \
    .option("password", "Root!123$$") \
    .mode("append") \
    .save()